* {
    margin: 0;
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
}

header {
    position: fixed;
    background-color: black;
    width: 100vw;
}

#navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
    #navbar > li {
        float: left;
    }
        #navbar > li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
        #navbar > li a:hover {
            box-shadow: inset 0 5em darkslategray;
        }