* {
    margin: 0;
}

a {
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

body {
    --dot-bg: #01011b;
    --dot-color: #848282;
    --dot-size: 1px;
    --dot-space: 50px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: black;
    width: 100vw;
}

#navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
    #navbar > li {
        float: left;
    }
        #navbar > li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out; 
        }
        #navbar > li a:hover {
            box-shadow: inset 0 5em darkslategray;
        }

main {
    flex: 1;
}

/* MAIN HEADERS */
/* HEADER ANIMATION BY Jasmine G
Link: https://codepen.io/ladyjellington/pen/qBBQBYy
*/

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}

.container h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 1.2s steps(40,end) forwards;
}

.container h1:nth-child(2) {
  white-space: nowrap;
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: white;
  font-weight: 800;
  font-size: 100px;  
  width: 550px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 1.8s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid white;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid white;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid white;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid white;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* FOOTER LINKS */
footer {
    background-color: black;
    width: 100vw;
    min-height: 50px;
}

#links {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
    #links > li {
        float: left;
    }
        #links > li a{
            display: block;
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
